@import "./../style/dark.module.scss";
@import "./../style/light.module.scss";
.window{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bColorHover;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        background-color: $bColor;
        border: $border;
        min-width: 500px;
        border-radius: $borderR;
        padding: 25px;
        .name{
            padding: 25px;
            text-align: center;
            padding-bottom: 10px;
        }
        .edit{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-image: url(./../../media/edit.png);
            background-size: 80%;
            background-position: center;
            background-repeat: none;
            border-radius: $borderR;
            border: $border;
            padding: 5px;
        }
        .description{
            padding: 25px;
            border-radius: $borderR;
            background-color: #353535;
            textarea{
                margin: 0 auto;
                background-color: $bColor;
                padding: 10px;
                width: 95%;
                color: $color;
            }
        }
    }
}