@import "./../style/dark.module.scss";
@import "./../style/light.module.scss";
.note{
    padding: 9px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    height: 20px;
    
    // z-index: 6;
    justify-content: space-between;
    // position: initial;
    .more{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
.red1{
    // background-color: rgb(9, 236, 20);
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    cursor: move;
}
.red2{
    // background-color: red;
    height: 20px;
    width: 250px;
    position: absolute;
    bottom: 0;   
    cursor: move;
}